body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #4F2170;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form-box {
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.inner-brand {
  font-size: 1.4rem;
  font-weight: bold;
  color: #1f0829d0;
  margin-bottom: 1.5rem;
  text-align: left;
  padding-left: 10px;
}

.role-toggle-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-as {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #8d2885;
}

.nav-tabs {
  position: relative;
  display: inline-flex;
  background: #7b1fa2;
  border-radius: 30px;
  padding: 5px;
  gap: 5px;
}

.nav-indicator {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 0;
  width: 0;
  background-color: #ad55d3;
  border-radius: 25px;
  transition: all 0.3s ease;
  z-index: 0;
}

.nav-tab {
  position: relative;
  z-index: 1;
  border: none;
  background: transparent;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.nav-tab.active {
  color: white;
}



.form-header {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.submit-btn {
  background-color: #7b1fa2;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #5e117e;
}

#form-toggle-text {
  font-size: 0.9rem;
}

#form-toggle-text a {
  color: #7b1fa2;
  cursor: pointer;
  text-decoration: underline;
}

.teacher-note {
  font-size: 0.85rem;
  color: #d32f2f;
  margin: 10px 0;
  text-align: left;
}

.hidden {
  display: none;
}

