<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Complaint</title>
</head>
<body>
    <h1>Add Complaint</h1>
    <form action="/add" method="post">
        <label for="complaint_headline">Complaint Headline:</label>
        <input type="text" id="complaint_headline" name="complaint_headline" required>
        <br>
        <label for="complaint_text">Complaint Text:</label>
        <textarea id="complaint_text" name="complaint_text" required></textarea>
        <br>
        <label for="complaint_type">Complaint Status:</label>
        <select id="complaint_type" name="complaint_type" required>
            <option value="administration">Administration</option>
                <option value="technical">Technical</option>
                <option value="academic">Academic</option>
                <option value="hostel">Hostel</option>
                <option value="infrastructure">Infrastructure</option>
                <option value="library">Library</option>
                <option value="food">Food</option>
                <option value="faculty">Faculty</option>
                <option value="transport">Transport</option>
                <option value="fees">Fees</option>
                <option value="events">Events</option>
                <option value="others">Others</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>